In [1]:
import pandas as pd

In [7]:
# Считываем csv файл с ';' в качестве разделителя
bookings = pd.read_csv(r'2_bookings.csv', sep=';')

# Сохраняем первые семь строк в отдельный датафрейм, "отрезая" 7 строк из данного нам датафрейма
bookings_head = bookings[:7]

In [75]:
bookings[:10]

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,FB,PRT,C,C,Transient,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015-07-01,2015,July,27,1,0,3,...,2,0.0,0,BB,PRT,A,A,Transient,Canceled,2015-05-06
9,Resort Hotel,1,75,2015-07-01,2015,July,27,1,0,3,...,2,0.0,0,HB,PRT,D,D,Transient,Canceled,2015-04-22

In [10]:
# Возвращает тип данных каждой колонки(столбца)
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [17]:
# Изначальное название колонок 
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [60]:
# методы изменяющие коллонки первый "rename" меняет регистр на нижний задавая 'columns=str.lower', второй "rename" при помощи 
# lambda x: x.replace(' ','_') меняет все пробелы на нижние пробелы в 'columns=lambda x: x.replace(' ','_')'  
bookings.rename(columns=str.lower).rename(columns=lambda x: x.replace(' ','_')).columns

# метод куда проще, просто применяем к колонкам поочередно методы str.lower() и str.replace(' ', '_')
bookings.columns = bookings.columns.str.lower().str.replace(' ', '_')

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [58]:
# меняяем окончательно все названия колонок 
bookings.columns = bookings.rename(columns=str.lower).rename(columns=lambda x: x.replace(' ','_')).columns

In [72]:
#  Метод позволяющий узнать пользователи из каких стран совершили наибольшее число успешных бронирований

bookings[bookings.is_canceled == 0].rename(columns={'is_canceled':'successful_booking'}).groupby('country').agg({'successful_booking':'count'}).sort_values('successful_booking',ascending=False)[:5]

         successful_booking
country
PRT                   21071
GBR                    9676
FRA                    8481
ESP                    6391
DEU                    6069

In [84]:
# Узнаем на сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel
bookings[bookings.hotel == 'City Hotel'].stays_total_nights.mean()

2.978141938736922

In [86]:
# Узнаем на сколько ночей (stays_total_nights)  в среднем бронируют отели типа Resort Hotel
bookings[bookings.hotel == 'Resort Hotel'].stays_total_nights.mean()

4.318547179231153

In [91]:
# Сколько типов номеров отличается от изначально забронированного 
bookings[bookings.reserved_room_type != bookings.assigned_room_type].shape

(14917, 21)

In [98]:
# Узнем какой месяц чаще всего оформляли бронь в 2016 году
bookings[bookings.arrival_date_year == 2016].groupby('arrival_date_month').agg({'hotel':'count'}).rename(columns={'hotel':'count'}).sort_values('count', ascending=False)

                    count
arrival_date_month
October              6203
May                  5478
April                5428
September            5394
June                 5292
August               5063
March                4824
July                 4572
November             4454
February             3891
December             3860
January              2248

In [99]:
# Узнем какой месяц чаще всего оформляли бронь в 2017 году
bookings[bookings.arrival_date_year == 2017].groupby('arrival_date_month').agg({'hotel':'count'}).rename(columns={'hotel':'count'}).sort_values('count', ascending=False)

                    count
arrival_date_month
May                  6313
April                5661
June                 5647
July                 5313
March                4970
August               4925
February             4177
January              3681

In [111]:
# топ-количеств отмен по месяцам в 2015
bookings[bookings.hotel == 'City Hotel'][bookings.is_canceled == True][bookings.arrival_date_year == 2015].groupby('arrival_date_month').agg({'hotel':'count'}).sort_values('hotel', ascending=False)

C:\Users\user\AppData\Local\Temp\ipykernel_5536\2319630934.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bookings[bookings.hotel == 'City Hotel'][bookings.is_canceled == True][bookings.arrival_date_year == 2015].groupby('arrival_date_month').agg({'hotel':'count'}).sort_values('hotel', ascending=False)
C:\Users\user\AppData\Local\Temp\ipykernel_5536\2319630934.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bookings[bookings.hotel == 'City Hotel'][bookings.is_canceled == True][bookings.arrival_date_year == 2015].groupby('arrival_date_month').agg({'hotel':'count'}).sort_values('hotel', ascending=False)

                    hotel
arrival_date_month
September            1543
October              1321
August               1232
July                  939
December              668
November              301

In [112]:
# топ-количеств отмен по месяцам в 2016
bookings[bookings.hotel == 'City Hotel'][bookings.is_canceled == True][bookings.arrival_date_year == 2016].groupby('arrival_date_month').agg({'hotel':'count'}).sort_values('hotel', ascending=False)

C:\Users\user\AppData\Local\Temp\ipykernel_5536\2797316967.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bookings[bookings.hotel == 'City Hotel'][bookings.is_canceled == True][bookings.arrival_date_year == 2016].groupby('arrival_date_month').agg({'hotel':'count'}).sort_values('hotel', ascending=False)
C:\Users\user\AppData\Local\Temp\ipykernel_5536\2797316967.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bookings[bookings.hotel == 'City Hotel'][bookings.is_canceled == True][bookings.arrival_date_year == 2016].groupby('arrival_date_month').agg({'hotel':'count'}).sort_values('hotel', ascending=False)

                    hotel
arrival_date_month
October              1947
June                 1720
September            1567
April                1539
May                  1436
November             1360
August               1247
March                1108
December             1072
July                 1043
February              930
January               438

In [113]:
# топ-количеств отмен по месяцам в 2017
bookings[bookings.hotel == 'City Hotel'][bookings.is_canceled == True][bookings.arrival_date_year == 2017].groupby('arrival_date_month').agg({'hotel':'count'}).sort_values('hotel', ascending=False)

C:\Users\user\AppData\Local\Temp\ipykernel_5536\1769755213.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bookings[bookings.hotel == 'City Hotel'][bookings.is_canceled == True][bookings.arrival_date_year == 2017].groupby('arrival_date_month').agg({'hotel':'count'}).sort_values('hotel', ascending=False)
C:\Users\user\AppData\Local\Temp\ipykernel_5536\1769755213.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bookings[bookings.hotel == 'City Hotel'][bookings.is_canceled == True][bookings.arrival_date_year == 2017].groupby('arrival_date_month').agg({'hotel':'count'}).sort_values('hotel', ascending=False)

                    hotel
arrival_date_month
May                  2217
April                1926
June                 1808
July                 1324
March                1278
August               1123
January              1044
February              971

In [ ]:
# Количство взрослых, детей и младенцев

In [134]:
bookings['adults'].sum()

221636

In [142]:
bookings['babies'].astype('float64').sum()

949.0

In [136]:
bookings['children'].sum()

12403.0

In [166]:
# Создаем колонку total_kids в первой строке, объединив столбцы children и babies. 
# Определяем для отелей какого типа среднее значение переменной оказалось наибольшим во второй строке.
bookings['total_kids'] = bookings.babies.astype('float64') + bookings.children
bookings.groupby('hotel').agg({'total_kids':'mean'})

              total_kids
hotel
City Hotel      0.096311
Resort Hotel    0.142586

In [175]:
# Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), 
# которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени.
# В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. 
# Давайте посмотрим, как эта метрика зависит от наличия детей у клиентов!

In [176]:
# Создаем переменную has_kids если есть отвечает True, если нет False, для группирование клиентов на с детьми и без детей
bookings['has_kids'] = bookings['total_kids'] > 0

In [192]:
# Коэффицент оттоека(Churn rate) среди клиентов с детьми
bookings[bookings.has_kids == True][bookings.is_canceled == 1].hotel.count()/bookings[(bookings.has_kids == True)].hotel.count()

C:\Users\user\AppData\Local\Temp\ipykernel_5536\4221711970.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bookings[bookings.has_kids == True][bookings.is_canceled == 1].hotel.count()/bookings[(bookings.has_kids == True)].hotel.count()

0.3492284612087441

In [190]:
# Коэффицент оттоека(Churn rate) среди клиентов без детей
bookings[bookings.has_kids == False][bookings.is_canceled == 1].hotel.count()/bookings[(bookings.has_kids == False)].hotel.count()

C:\Users\user\AppData\Local\Temp\ipykernel_5536\692794002.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bookings[bookings.has_kids == False][bookings.is_canceled == 1].hotel.count()/bookings[(bookings.has_kids == False)].hotel.count()

0.37221283323338605

In [191]:
# Коэффицент оттоека(Churn rate) среди всех клиентов
bookings[bookings.is_canceled == 1].hotel.count()/bookings.hotel.count()

0.37041628277075134